body {
  background-color: thistle;
  margin: 10px;
}

h1 {
  font-size: 72pt;
  font-weight: bold;
  text-align: right;
  letter-spacing: -8px;
  color: #f0f0f0;
  margin: -30px 5px;
}

p {
  margin: 0px;
  color: rgb(190, 184, 184);
  font-size: 16pt;
}
